#root {
  max-width:900px;
  margin: 0 auto;
  padding: 2rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  justify-content: center;
  display: flex;
  gap: 50px;
  width: 100%;
}
.error__active {
  border: 1px solid red;
}
.error-message {
  color: red;
}
.filter-active {
  background-color: cornflowerblue;
}